.gradient-text {
    background: $background-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    &--uppercase {
        text-transform: uppercase;
    }
}