.graphics {
    position: absolute;
    width: 1140px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    &__figure {
        position: absolute;
        border-radius: 50%;

        &:nth-child(1) {
            width: 311px;
            height: 311px;
            top: 145px;
            left: -240px;

            background: #961A1A;
            opacity: 0.5;
            filter: blur(196px);
        }

        &:nth-child(2) {
            width: 259px;
            height: 259px;
            left: 602px;
            top: -154px;
            
            background: #833AB4;
            opacity: 0.5;
            filter: blur(196px);
        }

        &:nth-child(3) {
            width: 60px;
            height: 60px;
            left: 728px;
            top: -113px;
            
            background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
            filter: blur(5px);
            backdrop-filter: blur(2px);
        }

        &:nth-child(4) {
            width: 83px;
            height: 83px;
            left: 373px;
            top: -34px;
            
            background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
            backdrop-filter: blur(2px);
        }

        &:nth-child(5) {
            width: 28px;
            height: 28px;
            left: 705px;
            top: 421px;
            
            background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
            filter: blur(2.5px);
            backdrop-filter: blur(2px);
        }
    }

    @media (max-width: 1140px) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../assets/svg/main-info/noise.png');
        mix-blend-mode: overlay;
        transform: none;
        overflow: hidden;
        
        &__figure {
            &:nth-child(1) {
                width: 211px;
                height: 210px;
                top: unset;
                bottom: 0;
                left: -50px;
            }

            &:nth-child(2) {
                width: 259px;
                height: 259px;
                left: 230px;
                top: 100px;
            }

            &:nth-child(3) {
                width: 60px;
                height: 60px;
                left: unset;
                top: 261px;
                right: 0;
            }

            &:nth-child(4) {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 900px;
                height: 600px;
                background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%);
                backdrop-filter: blur(7.5px);  
            }

            &:nth-child(5) {
                width: 83px;
                height: 83px;
                left: 34px;
                top: unset;
                bottom: -22px;
                z-index: -10;
            }
        }
    }
}
