.logo {
    position: relative;

    &__img {
        width: 140px;
        height: 24px;
    }

    &__description {
        font-family: 'Montserrat';
        width: 165px;
        margin-top: 10px;

        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
    }
}
